<div class="main admin-change">
  <div class="container">

    <div class="col-md-4 pick-admin">
      <h3 style="text-decoration: underline;">Pick your new admin</h3>
    	<form method="post" action="/group/change_admin/">
    		<% @user_list.each do |user| %>
          <% if user.id != current_user.group.admin_id %>
            <div class="radio-button">
        			<input type="radio" name="user_id" value="<%=user.id%>"> <%= user.user_name %> </br>
            </div>
          <% end %>
    		<% end %>
    		<button type="submit" class="btn">submit</button>
    	</form>
      <form method="get" action="/main">
        <button type="submit" class="btn" id="nevermind">nevermind</button>
      </form>
    </div>

    <div class="col-md-6 col-md-offset-1 admin-do">
      <ul>
        <h3>What can an admin do?</h3>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: green;"></span>&nbsp; create new chores</li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: green;"></span>&nbsp; set the difficulty of new chores</li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: green;"></span>&nbsp; pass on admin privileges to other users in the group</li>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: green;"></span>&nbsp; clear the completed chore list</li>
      </ul>
    </div>

  </div>
</div>