<!-- creates a chore and a description for it -->
<div class="main">
  <div class="container">
    <div class="col-md-4 col-centered">
      <h1>What chore would you like to create?</h1>
      <form method="post" action="/create_chore">
      <label>Chore name</label>
      <input type="text" name="name">
      <label>Chore description</label>
      <input type="text" name="description">
      <input type="submit" class="btn btn-info" value="Add Chore!">
      </form>
    </div>
  </div>
</div>