/* layout */

$headerColor: #D25150;
$footerColor: #263648;
$lightFontColor: #F1F2F3;
$darkFontColor: #312525;

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  a {
    color: inherit;
  }
  a:hover {
    text-decoration: none;
  }
}

/* ------------------------------------------- */

/* header */
.header {
  color: $lightFontColor;
  background-color: $headerColor;
  a:hover {
    color: inherit;
  }
  input, select, textarea {
    color: $darkFontColor;
  }
}

.footer {
  background-color: $footerColor;
  padding: 20px 0px;
  margin: 0;
  color: $lightFontColor;
}

.group_buttons {
  display: inline;
}


/* ------------------------------------------- */
/* landing page */

.indexSignUp {
  background: url("../pictures/jumbotron.jpg") center -100px no-repeat;
  background-size: cover;
  height: 480px;
  .btn {
    background-color: #312525;
    color: $lightFontColor;
    font-size: 20px;
  }
}

.indexMain {
  padding: 60px 0;
  background-color: #F7F7F7;
  h2 {
    padding-top: 30px;
  }
}


.supporting {
  background-color: $headerColor;
  h4{
    color: $lightFontColor;
    padding-bottom: 15px;
  }
}

.appStats {
  padding-top: 60px;
  padding-bottom: 60px;
}
/* ------------------------------------------- */
/* main page */
.main {
  padding-bottom: 30px;
}

.col-centered {
  float: none;
  margin: 0 auto;

}

.chore_list {
  padding: 0;
  li { 
    list-style-type: none;
    padding-bottom: 5px;
  }
  #got_this {
    padding: 2px 4px;
  } 
  form {
    padding-left: 10px;
  }
}

/* ------------------------------------------- */
/* sign up */
.signup_main {
  background-color: #F7F7F7;
  padding-bottom: 20px;
}
.signup_form {
  padding: 100px 0 60px 0;
  .block{
    padding-bottom: 20px;
  }
}

.signup_features {
  margin-top: 30px;
  border: 1px solid black;
  border-radius: 5%;
  li {
    list-style-type: none;
    padding-top: 10px;
  }
}

/* ------------------------------------------- */
/* misc */

.text-centered {
  text-align: center;
}

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  margin-right: -4px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

#jumbo {
  margin-bottom: 0;
}

#circle_border {
    height: 65px;
    width: 65px;
    border: 2px solid $footerColor;
    border-radius: 100%;
    color: $darkFontColor;
    font-size: 40px;
    margin: auto;
}

#left-border {
  border-left: 3px inset #ffb3b3;
  padding-left: 100px;
}

#watermark {
  bottom: 0;
}