/* layout */

$headerColor: #D25150;
$footerColor: #446B88;
body {
  font-family: 'Montserrat', sans-serif;
  a:hover {
    text-decoration: none;
  }
}

/* header */
.header {
  background-color: $headerColor;
}

.footer {
  background-color: $footerColor;
}

.group_buttons {
  display: inline;
}

/* landing page */
.landing_page {
  text-align: center
}

/* --- */
/* landing page */
.appStats {
  text-align: left;
}

/* --- */
/* main page */
.col-centered {
  float: none;
  margin: 0 auto;
}

.chore_list {
  padding: 0;
}