/* layout */

$headerColor: #D25150;
$footerColor: #446B88;
$mainFontColor: #FFF;
$secondaryFontColor: #FFF;

body {
  font-family: 'Montserrat', sans-serif;
  a:hover {
    text-decoration: none;
  }
}

/* header */
.header {
  background-color: $headerColor;
}

.footer {
  background-color: $footerColor;
  padding: 20px 0px;
  margin: 0;
}

.group_buttons {
  display: inline;
}


/* --- */
/* landing page */
.indexSignUp {
  background: url("../pictures/jumbotron.jpg") center -180px no-repeat;
  background-size: cover;
  .col-md-12 {
  }
  .appStats{
    h5 {

    }
  }
}

.indexMain {
  padding: 60px 0;
  background-color: #F7F7F7;
}

.appStats {
  padding-top: 50px;
}

/* --- */
/* main page */
.col-centered {
  float: none;
  margin: 0 auto;

}

.chore_list {
  padding: 0;
}

/* --- */
/* misc */
.text-centered {
  text-align: center;
}

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  margin-right: -4px;
}

#jumbo {
  margin-bottom: 0;
}

#circle_border {
    height: 20px;
    width: 20px;
    border: 2px solid $headerColor;
    border-radius: 100%;
    color: #17A3DDl;
}