/* layout */
* {
  font-family: 'Montserrat', sans-serif; }

body a {
  color: inherit; }
body a:hover {
  text-decoration: none; }

/* ------------------------------------------- */
/* header & footer */
.header {
  color: #F1F2F3;
  background-color: #D25150; }
  .header a:hover {
    color: inherit; }
  .header input, .header select, .header textarea {
    color: #312525; }
  .header container {
    position: fixed; }

.footer {
  background-color: #263648;
  padding: 20px 0px;
  margin: 0;
  color: #F1F2F3; }
  .footer #created-by {
    line-height: 60%; }
  .footer img {
    width: 30px;
    height: 30px;
    padding-bottom: 3px; }
  .footer address {
    padding-bottom: 30px; }

.group_buttons {
  display: inline; }

/* ------------------------------------------- */
/* landing page */
.indexSignUp {
  background: url("../pictures/jumbotron.jpg") center -100px no-repeat;
  background-size: cover;
  height: 480px; }
  .indexSignUp .btn {
    background-color: #312525;
    color: #F1F2F3;
    font-size: 20px; }
  .indexSignUp .col-md-12 {
    text-align: center; }
  .indexSignUp .btn {
    background-color: #446B88;
    color: #F1F2F3;
    font-size: 20px;
    transition: 0.5s; }
  .indexSignUp .btn:hover {
    background-color: #D25150;
    color: #F1F2F3; }

.indexMain {
  padding: 60px 0;
  background-color: #F7F7F7; }
  .indexMain h2 {
    padding-top: 30px; }

.indexSupporting {
  background-color: #D25150; }
  .indexSupporting h4 {
    color: #F1F2F3;
    padding-bottom: 15px; }
  .indexSupporting .appStats {
    padding-top: 60px;
    padding-bottom: 60px; }

/* ------------------------------------------- */
/* main page */
/* chore display */
.main-page {
  padding-bottom: 30px;
  min-height: 400px; }
  .main-page .col-centered {
    float: none;
    margin: 0 auto; }
  .main-page .chore_list {
    padding: 0;
    font-size: 15px; }
    .main-page .chore_list li {
      list-style-type: none;
      padding-bottom: 8px; }
    .main-page .chore_list #got_this {
      padding: 2px 4px; }
    .main-page .chore_list form {
      padding-left: 10px; }
  .main-page #clear-chores-button, .main-page #to-do-button {
    background-color: #5BC0DE;
    color: #F1F2F3;
    transition: 0.5s; }
  .main-page #to-do-button:hover {
    background-color: #349854; }
  .main-page #clear-chores-button:hover {
    background-color: #D25150; }
  .main-page #admin-show-border {
    border-top: 1px dotted black;
    padding-top: 5px; }

/* stats display */
.main-supporting {
  background-color: #F7F7F7; }
  .main-supporting a:hover {
    color: inherit; }
  .main-supporting .main-supporting-buttons {
    text-align: center;
    background-color: #446B88;
    color: #F1F2F3;
    height: 60px; }
    .main-supporting .main-supporting-buttons .cursor {
      cursor: pointer; }
  .main-supporting .main-supporting-slidedown {
    background-color: #D25150;
    min-height: 160px;
    padding: 15px 0;
    /* styles the slidedowns and sets display none */ }
    .main-supporting .main-supporting-slidedown li {
      list-style: none; }
    .main-supporting .main-supporting-slidedown .slide-styling {
      display: none;
      color: #F1F2F3;
      padding: 10px 0;
      text-align: left;
      font-size: 20px; }
      .main-supporting .main-supporting-slidedown .slide-styling li {
        padding-left: 10px;
        padding-bottom: 5px; }
    .main-supporting .main-supporting-slidedown #broom {
      width: 167.2px;
      height: 200px; }

/* ------------------------------------------- */
/* sign up */
.signup_main {
  background-color: #F7F7F7;
  padding-bottom: 200px; }
  .signup_main .signup_form {
    padding: 100px 0 60px 0; }
    .signup_main .signup_form .block {
      padding-bottom: 20px; }
  .signup_main .signup_features {
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 5%; }
    .signup_main .signup_features li {
      list-style-type: none;
      padding-top: 10px;
      font-size: 16px; }

/* ------------------------------------------- */
/* profile page*/
#profileCard {
  padding-top: 25px; }

.profileDisplay {
  background: url("../pictures/user-icon.png") no-repeat;
  background-size: cover;
  height: 300px; }

/* ------------------------------------------- */
/* chore creation */
.create-chore-main h1 {
  margin-bottom: 20px;
  border-bottom: 1px solid #312525;
  padding-bottom: 5px; }
.create-chore-main .inputForm {
  width: 90%;
  margin: 0; }
.create-chore-main .create-chore-bg {
  width: 380px;
  height: 327px;
  background: url("../pictures/create_chore.jpg") center -40px no-repeat;
  background-size: cover;
  color: blue; }
.create-chore-main .create-chore-form, .create-chore-main .create-chore-form {
  padding-top: 30px;
  padding-bottom: 60px; }

.create-chore-supporting {
  background-color: #F7F7F7;
  padding-bottom: 30px; }
  .create-chore-supporting h1, .create-chore-supporting h3, .create-chore-supporting p {
    text-align: center; }
  .create-chore-supporting h3 {
    text-decoration: underline; }
  .create-chore-supporting #question-mark {
    font-size: 60px; }
  .create-chore-supporting #profit {
    font-size: 24px; }

/* ------------------------------------------- */
/* admin-change */
.admin-change {
  background-color: #F7F7F7;
  padding: 40px 0 70px 0; }
  .admin-change .pick-admin .radio-button {
    padding-bottom: 10px;
    font-size: 15px; }
  .admin-change .pick-admin .btn {
    color: #F1F2F3;
    background-color: #5BC0DE;
    transition: 0.5s; }
  .admin-change .pick-admin .btn:hover {
    background-color: #349854; }
  .admin-change .admin-do {
    border: 1px solid black;
    border-radius: 5%;
    font-size: 15px; }
    .admin-change .admin-do li {
      list-style: none;
      padding-bottom: 5px; }

/* ------------------------------------------- */
/* misc */
.col-centered {
  display: inline-block;
  float: none;
  margin-right: -4px;
  text-align: center; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.inline-block {
  display: inline-block; }

.block {
  display: block; }

#jumbo {
  margin-bottom: 0; }

#circle_border {
  height: 65px;
  width: 65px;
  border: 2px solid #263648;
  border-radius: 100%;
  color: #312525;
  font-size: 40px;
  margin: auto;
  text-align: center; }

#left-border {
  border-left: 3px inset #ffb3b3;
  padding-left: 100px; }

/*# sourceMappingURL=application.css.map */
