/* layout */
/* header */
.header {
  background-color: #D25150;
}

.footer {
  .background-color: #263648;
}

.group_buttons {
  display: inline;
}

/* landing page */
.landing_page {
  text-align: center
}