<div class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: red;"><span class="glyphicon glyphicon-remove" aria-hidden="true">&nbsp;</span><%= chore.name %></a>
  <ul class="dropdown-menu">
    <!-- prints out comments left on the chore if they exist -->
    <li>
      <% if !chore.comments.empty? %>
        <% chore.comments.each do |comment| %>
          <p>"<%= comment.content %>" -<%= comment.user.user_name %></p>
        <% end %>
      <% end %>
    </li>
    <!-- allows the user to leave a comment -->
    <form method="post" action="/comment/new/<%= chore.id %>">
      <input type="text" name="text" placeholder="leave a comment">
      <input type="submit" value="add">
    </form>
  </ul>
</div>  
