<div class="jumbotron indexSignUp" id="jumbo">
  <div class="container">
    <div class="row">
      <!-- jumbotron and signup prompt -->
      <div class="col-md-12 text-centered">
        <br>
        <br>
        <h1>Tired of chores?</h1> 
        <br>
        <p>Do more of them with this app!</p>
        <br>
        <br>
        <form method="get" action="/user/new">
          <button type="submit" class="btn btn-default">heck yes!</button>
        </form>
      </div>
    </div>

  </div>
</div>

<div class="main indexMain">
  <div class="container">
    <div class="row">
      <!-- bullshit text -->
      <div class="col-md-4 text-centered">
        <h2>Why should you use ChoreTracker?</h2>
      </div>

      <div class="col-md-7" id="left-border">
        <h3>The answer is simple!</h3>
        <p>Everyone knows the pain for sharing chores. Using ChoreTracker you can organize things superduper!</p>
        <br>
        <p>Whether it is sweeping, mopping, or doing dishes, ChoreTracker will make sure everyone has responsibility to share! Hurray!</p>
      </div>

    </div>

  </div>
</div>

<div class="supporting">
  <div class="container">
    <!-- app stats tracker -->
    <div class="row row-centered appStats">
      <div class="col-md-4 col-centered">
        <h4>people making their chores a breeze</h4>
        <div id="circle_border"><%= User.count %></div>
      </div>

      <div class="col-md-4 col-centered">
        <h4>chores being easily finished</h4>
        <div id="circle_border"><%= Chore.count %></div>
      </div>

      <div class="col-md-4 col-centered">
        <h4>the buzz our users are generating</h4>
        <div id="circle_border"><%= Comment.count %>
      </div>
     </div>
    </div>
  </div>
</div>

        