<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type=""></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body class="page-wrap">
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <% if current_user %>
            <a href="/main"><h2>ChoreTracker</h2></a>
          <% else %>
            <a href="/"><h2>ChoreTracker</h2></a>
          <% end %>
        </div>
          <!-- if a user is logged in -->
          <% if current_user %>
            <!-- checks to see if user is in a group -->
            <div class="col-md-4 group_buttons">

              <!-- option to leave the group if they are -->
              <% if current_group %>
                <p>You are a part of <%= current_user.group.group_name %>
                <form method="post" action="/group/leave">
                  <input type="hidden" name="_method" value="PUT">
                  <input type="submit" value="Stop helping these people!">
                </form>

              <!-- option to create or join a group if not -->
              <% else %>
                <form method="post" action="/group/create">
                  <input type="text" name="group_name">
                  <input type="submit" value="Create a Group">
                </form>
                <form method="post" action="/group/join">
                  <input type="hidden" name="_method" value="PUT">
                  <input type="text" name="group_name">
                  <input type="submit" value="Join a Group">
                </form>
              <% end %>
            </div>

            <!-- logs the user out -->
            <div class="col-md-4">
              <p>Hello, <%= current_user.user_name %></p>
              <form method="get" action="/user/logout">
                <input type="submit" value="Get me outta here!">
              </form>
            </div>

          <!-- if user is not logged in give the option to log in -->
          <% else %>
            <div class="col-md-3 pull-right">
              <form method="post" action="/user/login">
                <h4>Sign In</h4>
                  <label>Username:</label>
                  <input type="text" name="user_name">
                  <label>Password:</label>
                  <input type="text" name="password">
                  <input type="submit" name="log me in!">
                </div>
              </form>
            </div>
          <% end %>

      </div>
    </div>
  </div>
  <%= yield %>

  <!-- yet to implement -->
  <footer class="footer">
    <div class="container">
      <div>
        Test
      </div>
    </div>
  </footer>


</body>
</html>

