<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form method="post" action="/user/new">
          <label>Username</label>
          <input type="text" name="user_name">
          <label>Real Name</label>
          <input type="text" name="real_name">
          <label>Password</label>
          <input type="password" name="password">
          <label>Password Confirmation </label>
          <input type="password_confirmation" name="password_confirmation">
          <input type="submit" value="Make Chores For Yourself!!">
        </form>
        <ul class= "errors">
        <% @user.errors.full_messages.each do |message| %>
          <li> <%= message %> </li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>