<div class="main signup_main">
  <div class="container">
    <div class="row">
      <!-- sign in form -->
      <div style="width: 350px;" class="col-md-4 col-md-offset-1 signup_form">
        <form method="post" action="/user/new">
          <div class="block">
            <label>Username:</label>
            <input class="pull-right" type="text" name="user_name">
          </div>

          <div class="block">
            <label>Real Name:</label>
            <input class="pull-right" type="text" name="real_name">
          </div>

          <div class="block">
            <label>Password:</label>
            <input class="pull-right" type="password" name="password">
          </div>
          <div class="block">  
            <label> Confirm Password: </label>
            <input class="pull-right" type="password" name="password_confirmation">
          </div>

          <div>
            <button class="pull-right" type="submit" class="btn btn-default">sign up</button>
          </div>
        </form>
      </div>

        <ul class= "errors">
        <% @user.errors.full_messages.each do |message| %>
          <li> <%= message %> </li>
        <% end %>
        </ul>

      <!-- feature list -->
      <div class="col-md-6 col-md-offset-1 signup_features">
        <ul>
          <h3>improve your life drastically!</h3>
          <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span> share chores with the people you live with</li>
          <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> keep track of which chores are being done by who</li>
          <li><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> leave feedback for your fellow chore-doers</li>
          <li><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> rate others on their performence</li>
          <li></li>
          <li style="padding-left: 50px;">.........and most importantly</li>
          <li></li>
          <li style=><span class="glyphicon glyphicon-star" aria-hidden="true"></span> see who is the champion of doing chores!!!</li>
          <br>
          <br>
        </ul>
      </div>

    </div>
  </div>
</div>